@charset "UTF-8";

body {
    /* font-family: "Hiragino Sans"; */
    /* letter-spacing: 0.1rem; */
}
/*-----------------------------ダッシュボード(編集はここから)-------------------------------------------------*/
.dashboard_box{
	/* ダッシュボードの大きさ */
	height: 13rem;
	margin-bottom: 1rem;
}

.dashboard_box_inner_1{
    
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(54, 162, 235, 0.2);
	border: solid;
	border-color: rgb(54, 162, 235);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_2{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(255, 99, 132, 0.2);
	border: solid;
	border-color: rgb(255, 99, 132);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_3{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(255, 205, 86, 0.2);
	border: solid;
	border-color: rgb(255, 205, 86);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_4{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(75, 192, 192, 0.2);
	border: solid;
	border-color: rgb(75, 192, 192);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_5{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(153, 102, 255, 0.2);
	border: solid;
	border-color: rgb(153, 102, 255);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_6{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(201, 203, 207, 0.2);
	border: solid;
	border-color: rgb(201, 203, 207);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_7{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(54, 162, 235, 0.2);
	border: solid;
	border-color: rgb(54, 162, 235);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_inner_8{
	/* ダッシュボードの大きさ */
	height: 13rem;
	/* 親要素に対して少し小さくするため */
	width: 95%;
	background-color: rgba(255, 99, 132, 0.2);
	border: solid;
	border-color: rgb(255, 99, 132);
	border-radius: 5px;
    padding-left: 1rem;
}

.dashboard_box_title{
	font-size: 1rem;
}

.dashboard_box_num{
	font-size: 1.7rem;
	font-weight: bold;
	color: #1745a3;
}

/*-----------------------------お知らせ、アップデート情報-------------------------------------------------*/
/* 行間 */
.table-responsive > .table-condensed > thead > tr > th,
.table-responsive > .table-condensed > tbody > tr > th,
.table-responsive > .table-condensed > tfoot > tr > th,
.table-responsive > .table-condensed > thead > tr > td,
.table-responsive > .table-condensed > tbody > tr > td,
.table-responsive > .table-condensed > tfoot > tr > td {
    
    padding: 15px;  /* 5px の値を変更 */ 

    /* 見出し線、テーブル線のカスタマイズ */
    border-bottom: 1px solid #dee2e6!important;
    /* はみ出た部分を隠す */
    overflow: hidden;
    /* 折り返し無し */
    white-space: nowrap;
}

/* テーブル上のhrのmargin_bottom */
.info_hr{
    /* margin-top: 0.5rem; */
    margin-bottom: 0;
}

/* テーブル上のhrのmargin_bottom */
.info_title{
    font-size: 1.1rem;
    color: #6c757d;
    /* letter-spacing: 0.1rem; */
}

.icon_blue{
    color: #98a4c7;
}